################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmotionCalculator/.vs/EmotionCalculator/v16
